body{
	background-color: black;
}
h1{
	font-size: 30px;
	color: #CB9FB2;
}
h2{
	font-size: 20px;
	color: #EEB0CB;
}

.big{
	font-size: 60px;
}
.uppercase{
	text-transform: uppercase;
}

.big.uppercase{
	color: #C42F6F;
}

h1 span{
	color: violet;
}